.wrapper {
    width: 100%;
    padding: 12px 58px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 250px;
}
