.wrapper {
    width: 100%;
    padding: 16px;
    border-radius: var(--radius-sm);
    background-color: #e5e3dbc0;
    border: 1px solid #ccc;
    max-width: 600px;
    min-width: 500px;
}
.title {
    text-align: center;
}
